torch==2.0.0+cu118
torchvision==0.15.1+cu118
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
matplotlib
numpy
pandas
tqdm
scikit-learn
scikit-image
scikit-spatial
os
tkinter
PIL